@charset "UTF-8";

/*** Color setting ***/
:root {
  --side-bar-bg-color: #183055;
  --active-file-bg-color: #2f4566;
  --active-file-text-color: #ffffff;
  --active-file-border-color: #757575;
  --active-search-item-bg-color: #23242b;
  --item-hover-bg-color: #ececec;
  --item-hover-text-color: #000000;
  --control-text-color: #ddd;
  --window-border: 1px solid #183055;
  --code-cursor: #f0f0f0;
}

/****** Global Style ******/
body {
  margin: 0;
  font-family: 'Glow Sans SC', -apple-system, sans-serif;
  font-weight: 500;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%
}

html,
body {
  color: #242A31;
  /* width: 100%; */
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #ffffff;
  box-sizing: border-box;
  line-height: 1rem;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

hr {
  border-color: #8aefea;
  height: 2px;
  border-top: 2px solid darkblue;
}

img {
  max-width: 80%;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

/****** ul ol Style ******/

ol {
  padding-left: 2rem;
  line-height: 2;
  list-style-type:none;
  counter-reset:list;
}
ol li:before {
    counter-increment:list;
    content: counters(list, ".") ". ";
}

ul {
  padding-left: 2rem;
  line-height: 2;
}

/****** Table Style ******/

table {
  padding: 0;
  word-break: initial;
}

table tr {
  border-top: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n),
thead {
  background-color: #f5f7f9;
}

table tr th {
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}

table tr td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}

table tr th:first-child,
table tr td:first-child {
  margin-top: 0;
}

table tr th:last-child,
table tr td:last-child {
  margin-bottom: 0;
}



/****** Global Text ******/
p {
  font-size: 16px;
  font-family: "Glow Sans SC", -apple-system, sans-serif;
  font-weight: 500;
  line-height: 1.6;
  font-style: normal;
  color: rgb(59, 69, 78);
}

a {
  /* color: rgb(164, 78, 237); */
  color: rgb(56, 132, 254);
  font-weight: 500;
  text-decoration: none;
  text-decoration-style: none;
  cursor: pointer;
  padding: 0 3px 0 3px;
}

#write a:hover {
  color: rgb(56, 132, 254);
  text-decoration: underline;
  text-decoration-style: solid;
}

strong {
  font-weight: 700;
}

mark {
  background: #87CEFA;
  padding: 0 2px 0 2px;
  margin: 0 2px 0 2px;
}

h1 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  font-style: normal;
  line-height: 2;
  margin-top: 14px;
  margin-bottom: 14px;
}

h3 {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

h4 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

h5{
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}

h6 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 2;
  font-style: normal;
  margin-top: 14px;
  margin-bottom: 14px;
}


/****** Quote style ******/
blockquote {
  position: relative;
  /*  margin: 1rem 1 1rem 2rem; */
  padding: 1rem;
  color: #827676;
  background-color: #f5f7f9;
  border-radius: 6px;
  line-height: 1;
}

blockquote::before {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 100%;
  width: .30rem;
  background: #3884ff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

code {
  background-color: #f2f2f2;
  font-family: 'Consolas';
}

/*****PartView*****/
details {
  border: 1px solid #aaa;
  border-left-width: 3px;
  border-left-color: blue;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  color: blue;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

div{
width: 50%;
margin: auto;
}

/*****TabView*****/
.tabs {
  position: relative;
  min-height: 50vh;
  clear: both;
  margin: 25px 0;
  width: 100%;
}
.tab {
  float: left;
  width: auto;
}
.tab label {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type=radio] {
  display: none;
}
.tabcontent {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  width: auto;
  height: auto;
  overflow: auto;
  border-radius: 6px;
}
[type=radio]:checked ~ label {
  background: #3884ff;
  color: white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .tabcontent {
  z-index: 1;
}

@media print{
  div{
    width: 100%;
  }
}